@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Design System Colors */
  --white: #FFFFFF;
  --black: #000000;
  --gray-100: #F6F6F6;
  --gray-150: #EBEBEC;
  --gray-200: #E0E1E2;
  --gray-300: #C1C3C5;
  --gray-400: #ABAEB1;
  --gray-500: #8C9093;
  --gray-600: #6D7176;
  --gray-700: #585D62;
  --gray-800: #43494F;
  --gray-900: #2E343B;
  --primary-300: #008A94;
  --primary-400: #007078;
  --primary-color: var(--primary-300);
  --secondary-color: var(--primary-400);
  --background-color: var(--gray-100);
  --text-color: var(--gray-800);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
